{{- $serviceAddress := print (include "common.entity.name" .) "." .Release.Namespace ".svc.cluster.local" }}
{{- if eq (include "common.istioEnabled" .) "true" -}}
apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: {{ include "common.entity.name" . }}
  namespace: {{ .Release.Namespace }}
spec:
  gateways:
    - {{ .Release.Namespace }}/{{ .Values.istio.gateway.name }}
  hosts:
  {{- range .Values.exposure.hostnames }}
    - {{ . | quote }}
  {{- end }}
  http:
    - corsPolicy:
        allowOrigins:
          - regex: ".*"
        allowHeaders:
          - Authorization
          - Content-Type
          - '*'
        allowMethods:
          - GET
          - POST
      match:
        - uri:
            prefix: /iam/graphql
      rewrite:
        uri: /graphql
      route:
        - destination:
            host: {{ $serviceAddress }}
            port:
              number: {{ .Values.port }}
{{- end -}}