apiVersion: operator.kcp.io/v1alpha1
kind: FrontProxy
metadata:
  name: {{.Values.kcp.frontProxy.name }}
  namespace: {{ .Values.kcp.namespace | default "kcp-system" }}
spec:
  replicas: {{ .Values.kcp.frontProxy.replicas }}
  {{- if .Values.kcp.oidc.enabled }}
  auth:
    {{ with .Values.kcp.oidc }}
    serviceAccount:
      enabled: true
    oidc:
      enabled: true
      issuerURL: {{ .issuerUrl }}
      caFileRef:
        name: {{ .caFileRef.name }}
        key: {{ .caFileRef.key }}
      clientID: {{ .clientID }}
      groupsClaim: {{ .groupsClaim }}
      usernameClaim: {{ .usernameClaim }}
    {{- end }}
  {{- end }}
  {{ with .Values.kcp.image.tag }}
  image:
    tag: {{ .}}
  {{- end }}
  additionalPathMappings:
{{ toYaml .Values.kcp.frontProxy.additionalPathMappings | indent 4 }}
  external:
    # replace the hostname with the external DNS name for your kcp instance
    hostname: {{ .Values.kcp.external.hostname }}
    port: {{ .Values.kcp.external.port }}
  rootShard:
    ref:
      name: root
  serviceTemplate:
    spec:
      type: ClusterIP
  {{- with .Values.kcp.frontProxy.clusterIP }}
      clusterIP: {{ . }}
  {{- end }}
  {{- if .Values.hostAliases.enabled }}
  {{- with .Values.hostAliases.entries }}
  deploymentTemplate:
    spec:
      template:
        spec:
          {{- include "common.hostAliases" $ | nindent 10 -}}
  {{- end }}
  {{- end }}
  extraArgs:
{{ toYaml .Values.kcp.frontProxy.extraArgs | indent 4 }}
---
{{- if .Values.gatewayApi.enabled }}
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TLSRoute
metadata:
  name: kcp-front-proxy
  namespace: {{ .Values.kcp.namespace | default "kcp-system" }}
spec:
  hostnames:
  - {{ .Values.kcp.external.hostname }}
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: {{ .Values.gatewayApi.name }}
    sectionName: {{ .Values.gatewayApi.passThrough.gateway.name }}
  rules:
  - backendRefs:
    - group: ""
      kind: Service
      name: {{ .Values.kcp.frontProxy.name }}-front-proxy
      namespace: {{ .Values.kcp.namespace | default "kcp-system" }}
      port: 6443
    matches:
    - path:
        type: PathPrefix
        value: /
    {{- if .Values.cors.enabled }}
    filters:
    {{- toYaml .Values.gatewayApi.httpRoute.corsFilters | nindent 4 }}
    {{- end }}
---
{{- end }}
