apiVersion: operator.kcp.io/v1alpha1
kind: RootShard
metadata:
  name: root
  namespace: {{ .Values.kcp.namespace | default "kcp-system" }}
spec:
  replicas: {{ .Values.kcp.rootShard.replicas }}
  {{- if .Values.kcp.oidc.enabled }}
  auth:
    {{ with .Values.kcp.oidc }}
    oidc:
      enabled: true
      issuerURL: {{ .issuerUrl }}
      caFileRef:
        name: {{ .caFileRef.name }}
        key: {{ .caFileRef.key }}
      clientID: {{ .clientID }}
      groupsClaim: {{ .groupsClaim }}
      usernameClaim: {{ .usernameClaim }}
    {{- end }}
  {{- end }}
  external:
    # replace the hostname with the external DNS name for your kcp instance
    hostname: {{ .Values.kcp.external.hostname }}
    port: {{ .Values.kcp.external.port }}
  {{- if (.Values.kcp.webhook).enabled }}
  authorization:
    webhook:
      configSecretName: {{ .Values.kcp.webhook.authorizationWebhookSecretName }}
  {{- end }}
  certificates:
    # this references the issuer created above
    issuerRef:
      group: cert-manager.io
      kind: Issuer
      name: selfsigned
  cache:
    embedded:
      # kcp comes with a cache server accessible to all shards,
      # in this case it is fine to enable the embedded instance
      enabled: true
  etcd:
    endpoints:
      # this is the service URL to etcd. Replace if Helm chart was
      # installed under a different name or the namespace is not "default"
      - http://{{ .Values.kcp.etcd.service.name}}.{{ .Values.kcp.namespace}}.svc.cluster.local:{{.Values.kcp.etcd.service.port}}
  {{ with .Values.kcp.image.tag }}
  image:
    tag: {{ . }}
  {{- end }}
  deploymentTemplate:
    spec:
      template:
        metadata:
          annotations:
            # this excludes webhook traffic from the istio sidecar
            traffic.sidecar.istio.io/excludeOutboundPorts: "{{ .Values.kcp.webhook.port }}"
        {{ if eq (include "common.hostAliasesEnabled" $) "true" -}}
        spec:
        {{ include "common.hostAliases" $ | nindent 10 -}}
        {{ else -}}
        spec: {}
        {{- end }}
  extraArgs:
{{ toYaml .Values.kcp.rootShard.extraArgs | indent 4 }}
