{{- range .Values.kcp.shards.extraShards }}
apiVersion: operator.kcp.io/v1alpha1
kind: Shard
metadata:
  name: {{ . }}
  namespace: {{ $.Values.kcp.namespace | default "kcp-system" }}
spec:
  rootShard:
    ref:
      name: root
  shardBaseURL: https://{{ . }}.{{ $.Values.kcp.shards.domain }}:8443
  {{ include "kcpShardCommonValues" $ }}
---
{{- if $.Values.gatewayApi.enabled }}
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TLSRoute
metadata:
  name: kcp-{{ . }}
  namespace: {{ $.Values.kcp.namespace | default "kcp-system" }}
spec:
  hostnames:
  - {{ . }}.{{ $.Values.kcp.shards.domain }}
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: {{ $.Values.gatewayApi.name }}
    sectionName: {{ $.Values.gatewayApi.passThrough.gateway.name }}
  rules:
  - backendRefs:
    - group: ""
      kind: Service
      name: {{ . }}-shard-kcp
      port: 6443
    {{- if $.Values.cors.enabled }}
    filters:
    {{- toYaml $.Values.gatewayApi.httpRoute.corsFilters | nindent 4 }}
    {{- end }}
{{- end }}
---
{{- end }}
