{{- if .Values.gatewayApi.enabled }}
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TLSRoute
metadata:
  name: kcp-front-proxy-tlsroute
spec:
  hostnames:
  - {{ .Values.kcp.external.hostname }}
  parentRefs:
  - group: gateway.networking.k8s.io
    kind: Gateway
    name: {{ .Values.gatewayApi.name }}
    namespace: default
    sectionName: {{ .Values.gatewayApi.passThrough.gateway.name }}
  rules:
  - backendRefs:
    - group: ""
      kind: Service
      name: frontproxy-front-proxy
      port: 6443
      weight: 1
    name: {{ .Values.gatewayApi.passThrough.gateway.name }}
{{- end }}