hostAliases:
  enabled: false
  entries:
    - ip: "10.96.188.4"
      hostnames:
        - "localhost"
        - "portal.localhost"
        - "kcp.api.portal.localhost"

crossplane:
  enabled: true

externalSecrets:
  enabled: false

kcp:
  image:
    tag: ""
  namespace: platform-mesh-system
  external:
    hostname: kcp.api.portal.localhost
    port: 8443
  auth:
    adminCert:
      enabled: true
      privateKey:
        algorithm: RSA
        size: 2048
      subject:
        organizations:
          - system:kcp:admin
  etcd:
    name: etcd-kcp
    service:
      name: etcd-kcp-client
      port: 2379
    defragmentationSchedule: "0 */24 * * *"
    resources:
      limits:
        cpu: 500m
        memory: 1Gi
      requests:
        cpu: 100m
        memory: 200Mi
    serverPort: 2380
    quota: 8Gi
    backup:
      port: 8080
      fullSnapshotSchedule: "0 */24 * * *"
      resources:
        limits:
          cpu: 200m
          memory: 1Gi
        requests:
          cpu: 23m
          memory: 128Mi
      garbageCollectionPolicy: Exponential
      garbageCollectionPeriod: 43200s
      deltaSnapshotPeriod: 300s
      deltaSnapshotMemoryLimit: 1Gi
      compression:
        enabled: false
        policy: "gzip"
      leaderElection:
        reelectionPeriod: 5s
        etcdConnectionTimeout: 5s
    sharedConfig:
      autoCompactionMode: periodic
      autoCompactionRetention: "30m"
    replicas: 1

  oidc:
    enabled: false
    issuerUrl: ""
    clientID: ""
    groupsClaim: groups
    usernameClaim: email
    caFileRef:
      name: domain-certificate-ca
      key: tls.crt

  istio:
    hosts:
      - localhost

  webhook:
    enabled: true
    caData: ""
    server: https://rebac-authz-webhook.platform-mesh-system.svc.cluster.local:9443/authz
    authorizationWebhookSecretName: kcp-webhook-secret
    port: 9443

  rootShard:
    replicas: 1
    extraArgs:
    - --feature-gates=WorkspaceAuthentication=true
  frontProxy:
    replicas: 1
    name: frontproxy
    clusterIP: ""
    additionalPathMappings:
      - path: /services/contentconfigurations
        backend: https://virtual-workspaces.platform-mesh-system:8443
        backend_server_ca: /etc/kcp/tls/ca/tls.crt
        proxy_client_cert: /etc/kcp-front-proxy/requestheader-client/tls.crt
        proxy_client_key: /etc/kcp-front-proxy/requestheader-client/tls.key
      - path: /services/marketplace
        backend: https://virtual-workspaces.platform-mesh-system:8443
        backend_server_ca: /etc/kcp/tls/ca/tls.crt
        proxy_client_cert: /etc/kcp-front-proxy/requestheader-client/tls.crt
        proxy_client_key: /etc/kcp-front-proxy/requestheader-client/tls.key
    extraArgs:
    - --feature-gates=WorkspaceAuthentication=true

openfga:
  rbac:
    writePrincipals:
      - cluster.local/ns/platform-mesh-system/sa/iam-service
      - cluster.local/ns/platform-mesh-system/sa/security-operator
      - cluster.local/ns/platform-mesh-system/sa/account-operator

mailpit:
  enabled: false
  image:
    tag: v1.27.9

  ui:
    port: 8025
  smtp:
    port: 1025
  istio:
    virtualservice:
      # -- istio virtual service hosts
      hosts: ["*"]
  domain:
    # -- path prefix
    pathPrefix: "/mailpit"

keycloak:
  gatewayApi:
    # -- hostnames for the Keycloak HTTPRoute
    hostnames:
      - portal.localhost
    # -- path prefix for the Keycloak HTTPRoute
    pathPrefix: /keycloak
    filters:
    - type: RequestHeaderModifier
      requestHeaderModifier:
        set:
          - name: Host
            value: portal.localhost
  istio:
    virtualservice:
      # -- istio virtual service hosts
      hosts: ["*"]
    https:
      port: 8443
  # -- service configuration
  service:
    # -- service name
    name: keycloak
    # -- service port
    port: 80

  # -- domain configuration
  domain:
    # -- domain name
    name: platform-mesh.io
    # -- path prefix
    pathPrefix: "/keycloak"

  crossplane:
    # -- toggle to enable/disable crossplane
    enabled: true

    # -- crossplane provider config
    providerConfig:
      # -- name of the client
      name: keycloak-provider-config
      # -- client namespace
      namespace: platform-mesh-system

    # -- crossplane realm config
    realm:
      # -- realm name
      name: welcome
      # -- realm display name
      displayName: welcome
      # -- realm registration allowed
      registrationAllowed: true
      # -- realm access token lifespan
      accessTokenLifespan: 8h
      # -- realm email verification
      verifyEmail: true

      smtpServer:
        - host: mailpit.platform-mesh-system.svc.cluster.local
          port: "1025"
          from: noreply@portal.localhost

    managementClients:
      - name: iam
      - name: security-operator
    clients:
      welcome:
        # -- name of the client
        name: Welcome
        # -- valid redirect uris for the client
        validRedirectUris:
          # -- keycloak callback url
          - http://localhost:8000/callback*
          - http://localhost:4300/callback*
    trustedAudiences: []

    identityProviders: {}

  keycloakConfig:
    # -- url of the keycloak server
    url: http://keycloak.platform-mesh-system.svc.cluster.local/keycloak
    userRegistration:
      # -- toggle to enable/disable user registration
      enabled: true
    # -- redirect urls
    redirectUrls: ["http://localhost:8000/callback*"]
    # -- realm configuration
    realm:
      # -- realm name
      name: master
    # -- client configuration
    client:
      # -- client name
      name: welcome
      # -- target secret options
      targetSecret:
        # -- secret name
        name: portal-client-secret-welcome
        # -- secret namespace
        namespace: platform-mesh-system
      # -- token lifespan
      tokenLifespan: 3600
    # -- admin user configuration
    admin:
      username:
        # -- username
        value: keycloak-admin
      # -- admin password
      password:
        valueFrom:
          secretKeyRef:
            # -- name of the secret containing the password
            name: keycloak-admin
            # -- key of the password in the secret
            key: secret
istio:
  networking:
    # -- The istio apiVersion used for networking resources in this chart eg. networking.istio.io/v1, networking.istio.io/v1beta1
    apiVersion: networking.istio.io/v1
  serviceEntries:
    https:
      # -- A toggle to enable the service entries for external https communication
      enabled: false
      # -- The list of hosts to be added to the service entry
      hosts: []
  enabled: false
  main:
    gateway:
      hosts:
        - "*"
      port: 8000
      name: http
      protocol: HTTP
  #      tls:
  #        minProtocolVersion: TLSV1_2
  #        mode: SIMPLE
  #        credentialName: istio-ingressgateway-certs
  passThrough:
    gateway:
      enabled: false
  #      hosts:
  #        - "passthrough.my-domain.com"
  #      port: 8000
  #      name: pass-https
  #      protocol: HTTPS

  gateway:
    annotations: {}
    apiVersion: networking.istio.io/v1
    name: gateway
    selector:
      istio: gateway

gatewayApi:
  # -- Toggle to enable/disable Gateway API resources
  enabled: true
  # -- Name of the Gateway resource
  name: k8sapi-gateway
  # -- GatewayClass name
  gatewayClassName: traefik
  # -- HTTPS Terminate configuration
  main:
    gateway:
      port: 8443
      name: websecure
      protocol: HTTPS
      # -- Hostnames for the main gateway listener. If set, creates separate listeners per hostname.
      # -- This is required when using passthrough on the same port to avoid conflicts.
      hostnames:
        - "portal.localhost"
        - "*.portal.localhost"
      tls:
        mode: Terminate
        # -- Name of the secret containing the TLS certificate
        credentialName: domain-certificate
        # -- Set secret namespace if different from the gateway namespace
        credentialNamespace: platform-mesh-system
      infrastructure: null
  passThrough:
    gateway:
      # -- Toggle to enable/disable the passthrough gateway
      enabled: true
      hostname: "*.localhost"
      port: 8443
      name: https-passthrough
      protocol: TLS
  httpRoute:
    corsFilters:
    - extensionRef:
        group: traefik.io
        kind: Middleware
        name: cors-header
      type: ExtensionRef

cors:
  # -- toggle to enable CORS configuration
  enabled: false
  # -- list of allowed origins
  accessControlAllowOriginList:
    - "http://localhost:4200"
    - "http://localhost:4300"
    - "http://*.localhost:4200"
    - "http://*.localhost:4300"
    - "https://portal.localhost:8443"
    - "https://*.portal.localhost:8443"
