targetNamespace: platform-mesh-system
protocol: https
port: 443
timeout: 30m
ocm:
  skipVerify: true
  interval: 3m
  referencePath: []
  component:
    create: true
    name: platform-mesh
  repo:
    create: true
    name: platform-mesh
iamWebhookCA: null
fluxCD:
  kubeConfig:
    # -- If set, all created FluxCD resources will deploy to a remote cluster using this kubeconfig.
    enabled: false
    secretRef:
      # -- name of the secret containing the kubeconfig
      name: platform-mesh-kubeconfig
      key: kubeconfig
services:
  account-operator:
    enabled: true
    # -- Allow the configuration of additional ocm resources
    imageResources:
      - annotations:
          repo: oci
          artifact: image
          for: account-operator
    values:
      tracing:
        enabled: false
        collector:
          host: observability-opentelemetry-collector.observability.svc.cluster.local:4317
      kubeconfigSecret: account-operator-kubeconfig
      log:
        level: debug
      crds:
        enabled: false
      kcp:
        enabled: true
        apiExportEndpointSliceName: ""
      subroutines:
        fga:
          grpcAddr: openfga:8081
  extension-manager-operator:
    enabled: true
    # -- Allow the configuration of additional ocm resources
    imageResources:
      - annotations:
          repo: oci
          artifact: image
          for: extension-manager-operator
    values:
      crds:
        enabled: false
      kcp:
        enabled: true
        kubeconfigSecret: extension-manager-operator-kubeconfig
      tracing:
        enabled: false
        collector:
          host: observability-opentelemetry-collector.observability.svc.cluster.local:4317
  security-operator:
    enabled: true
    # -- Allow the configuration of additional ocm resources
    imageResources:
      - annotations:
          repo: oci
          artifact: image
          for: security-operator
    values:
      crds:
        enabled: false
      fga:
        target: openfga.platform-mesh-system.svc.cluster.local:8081
        inviteKeycloakBaseUrl: "https://{{ .Values.baseDomainPort }}/keycloak"
      initializer:
        kubeconfigSecret: security-initializer-kubeconfig
      baseDomain: "{{ .Values.baseDomainPort }}"
      kubeconfigSecret: security-operator-kubeconfig
      log:
        level: debug
      operator:
        shutdownTimeout: 1m
        maxConcurrentReconciles: 1
  rebac-authz-webhook:
    enabled: true
    # -- Allow the configuration of additional ocm resources
    imageResources:
      - annotations:
          repo: oci
          artifact: image
          for: rebac-authz-webhook
    values:
      log:
        level: debug
      openfga:
        url: openfga:8081
      certManager:
        enabled: true
        createCA: true
  infra:
    enabled: true
    # -- Allow the configuration of additional ocm resources
    imageResources:
      - name: kcp-image
        annotations:
          path: kcp.image.tag
          for: infra
          repo: oci
          artifact: image
        resource: image
        referencePath:
          - name: kcp
    dependsOn:
      - name: kcp-operator
        namespace: default
    values:
      gatewayApi:
        enabled: true
      kcp:
        image:
          tag: v0.29.0
        rootShard:
          extraArgs:
            - --feature-gates=WorkspaceAuthentication=true
            - --shard-virtual-workspace-url=https://localhost:8443
        webhook:
          enabled: true
      istio:
        main:
          gateway:
            hosts:
              - "{{ .Values.baseDomain }}"
              - "*.{{ .Values.baseDomain }}"
            port: '{{ .Values.port }}'
            name: https
            protocol: HTTPS
            tls:
              mode: SIMPLE
              credentialName: domain-certificate
              minProtocolVersion: TLSV1_2
        passThrough:
          gateway:
            enabled: true
            hosts:
              - "kcp.api.{{ .Values.baseDomain }}"
            port: '{{ .Values.port }}'
            name: pass-https
            protocol: HTTPS
      keycloak:
        istio:
          virtualservice:
            hosts:
              - "{{ .Values.baseDomain }}"
  keycloak:
    enabled: true
    imageResources:
      - name: keycloak-image
        annotations:
          repo: oci
          artifact: image
          for: keycloak
      - name: keycloak-postgresql-image
        resource: postgresql-image
        annotations:
          repo: oci
          artifact: image
          for: keycloak
          path: postgresql.image.tag
    values:
      global:
        security:
          allowInsecureImages: true
      resources:
        limits:
          cpu: "2"
          ephemeral-storage: 2Gi
          memory: 2Gi
        requests:
          cpu: 750m
          ephemeral-storage: 50Mi
          memory: 1Gi
      image:
        registry: ghcr.io/platform-mesh
        repository: upstream-images/keycloak
      auth:
        # -- keycloak admin user
        adminUser: keycloak-admin
        # -- keycloak admin secret
        existingSecret: keycloak-admin
        # -- keycloak admin secret key
        passwordSecretKey: secret
      # -- keycloak http relative path
      httpRelativePath: "/keycloak/"
      # -- keycloak environment variables (raw)
      # For Arm64 arch (especially Apple M4), add -XX:UseSVE=0 to JAVA_OPTS_APPEND
      extraEnvVars:
        - name: JAVA_OPTS_APPEND
          value: |-
            -Djgroups.dns.query=keycloak-headless.platform-mesh-system.svc.cluster.local
        - name: KC_PROXY_HEADERS
          value: xforwarded
        - name: KC_HOSTNAME_STRICT
          value: "false"
      # -- configuration for the postgresql sub-chart
      postgresql:
        image:
          registry: ghcr.io/platform-mesh
          repository: upstream-images/postgresql
        primary:
          # -- primary postgresql resources preset
          resourcesPreset: none
        # -- postgresql name override
        nameOverride: postgresql-keycloak
        # -- authorization configuration
        auth:
          # -- postgresql username
          username: keycloak
          # -- existing secret name
          existingSecret: ""
          secretKeys:
            # -- user password key
            userPasswordKey: password
            # -- admin password key
            adminPasswordKey: password
  kubernetes-graphql-gateway:
    enabled: true
    # -- Allow the configuration of additional ocm resources
    imageResources:
      - annotations:
          repo: oci
          artifact: image
          for: kubernetes-graphql-gateway
    values:
      gatewayApi:
        enabled: true
      cors:
        enabled: true
      tracing:
        enabled: false
      trust:
        default:
          trustedIssuer: "https://{{ .Values.baseDomainPort }}/keycloak/realms/default"
          jwksUrl: http://keycloak-headless.platform-mesh-system:8080/keycloak/realms/default/protocol/openid-connect/certs
          audience: default
      kubeConfig:
        enabled: true
        secretName: kubernetes-grapqhl-gateway-kubeconfig
      virtualService:
        pathPrefix: /api/kubernetes-graphql-gateway/
        hosts:
          - "{{ .Values.baseDomain }}"
          - "*.{{ .Values.baseDomain }}"
        httpRules:
          - name: default
            cors:
              allowHeaders:
                - "*"
              allowMethods:
                - GET
                - POST
              allowOrigins:
                - regex: .*
      listener:
        virtualWorkspacesConfig:
          enabled: true
          content:
            virtualWorkspaces:
              - name: contentconfigurations
                url: https://frontproxy-front-proxy.platform-mesh-system:6443/services/contentconfigurations
                kubeconfig: /app/kubeconfig/kubeconfig
              - name: marketplace
                url: https://frontproxy-front-proxy.platform-mesh-system:6443/services/marketplace
                kubeconfig: /app/kubeconfig/kubeconfig
  openfga:
    enabled: true
    helmRepo: true
    # -- Allow the configuration of additional ocm resources
    imageResources:
      - name: openfga-image
        annotations:
          repo: oci
          artifact: image
          for: openfga
      - name: openfga-postgresql-image
        resource: postgresql-image
        annotations:
          repo: oci
          artifact: image
          for: openfga
          path: postgresql.image.tag
    values:
      global:
        imagePullSecrets:
          - name: github
      migrate:
        annotations:
          sidecar.istio.io/inject: "false"
      extraEnvVars:
        - name: OPENFGA_EXPERIMENTALS
          value: enable-list-users
      log:
        level: info
      autoscaling:
        enabled: false
      image:
        repository: "openfga/openfga"
        tag: ""
      replicaCount: 1
      podAnnotations:
        traffic.sidecar.istio.io/excludeInboundPorts: "2112"
      checkQueryCache:
        enabled: true
        limit: 10000
        ttl: 10s
      datastore:
        engine: postgres
        maxOpenConns: 30
        applyMigrations: true
        migrationType: "initContainer"
        migrations:
          image:
            repository: groundnuty/k8s-wait-for
            pullPolicy: Always
            tag: "v2.0"
      postgresql:
        ## @param postgresql.enabled enable the bitnami/postgresql subchart and deploy Postgres
        enabled: true
        nameOverride: postgres
        image:
          registry: ghcr.io/platform-mesh
          repository: images/postgresql
      telemetry:
        trace:
          enabled: false
          otlp:
            endpoint: observability-opentelemetry-collector.observability.svc.cluster.local:4317
            tls:
              enabled: false
  portal:
    enabled: false
    # -- Allow the configuration of additional ocm resources
    imageResources:
      - annotations:
          repo: oci
          artifact: image
          for: portal
    values:
      kcp:
        kubeconfigSecret: portal-kubeconfig
      crdGatewayApiUrl: "https://${org-subdomain}{{ .Values.baseDomain }}/api/kubernetes-graphql-gateway/root:orgs:${org-name}/graphql"
      environment: kind
      http:
        protocol: https
      frontendPort: '{{ .Values.port }}'
      auth:
        default:
          discoveryUrl: "https://{{ .Values.baseDomainPort }}/keycloak/realms/${org-name}/.well-known/openid-configuration"
          clientSecretName: "portal-client-secret-welcome"
          clientSecretKey: "attribute.client_secret"
          clientId: "welcome"
          baseDomain: "{{ .Values.baseDomain }}"
      virtualService:
        hosts:
          - "{{ .Values.baseDomain }}"
          - "*.{{ .Values.baseDomain }}"
      cookieDomain: "{{ .Values.baseDomain }}"
      extraEnvVars:
        - name: DEFAULT_PORTAL_CONTEXT_CRD_GATEWAY_API_URL
          value: https://${org-subdomain}{{ .Values.baseDomainPort }}/api/kubernetes-graphql-gateway/root:orgs:${org-name}/graphql
        - name: OPENMFP_PORTAL_CONTEXT_IAM_SERVICE_API_URL
          value: "https://${org-subdomain}{{ .Values.baseDomainPort }}/iam/graphql"
  observability:
    enabled: false
    targetNamespace: observability
    values:
      istio:
        grafana:
          virtualService:
            hosts: ["grafana.{{ .Values.baseDomain }}"]
        tracing:
          enabled: false
      opentelemetry-collector:
        service:
          type: ClusterIP
        ports:
          metrics:
            enabled: true
  virtual-workspaces:
    enabled: true
    # -- Allow the configuration of additional ocm resources
    imageResources:
      - annotations:
          repo: oci
          artifact: image
          for: virtual-workspaces
    values:
      virtualWorkspaceSecretName: virtual-workspaces-cert
      deployment:
        serverUrl: "https://frontproxy-front-proxy.platform-mesh-system:6443"
        resourceSchemaName: "v250704-6d57f16.contentconfigurations.ui.platform-mesh.io"
        resourceSchemaWorkspace: "root:platform-mesh-system"
  iam-service:
    # -- Enable IAM Service
    enabled: true
    # -- Allow the configuration of additional ocm resources
    imageResources:
      - annotations:
          repo: oci
          artifact: image
          for: iam-service
    values:
      caSecret: domain-certificate-ca
  iam-ui:
    # -- Enable IAM UI
    enabled: true
    # -- Allow the configuration of additional ocm resources
    imageResources:
      - annotations:
          repo: oci
          artifact: image
          for: iam-ui
  marketplace-ui:
    enabled: false
    # -- Allow the configuration of additional ocm resources
    imageResources:
      - annotations:
          repo: oci
          artifact: image
          for: marketplace-ui
    values:
      gatewayApi:
        enabled: true
      istio:
        enabled: false
