{{- if eq (include "common.getNestedValue" (dict "Values" .Values "key" "crossplane.enabled")) "true" -}}
apiVersion: keycloak.crossplane.io/v1beta1
kind: ProviderConfig
metadata:
  name: {{ .Values.keycloak.crossplane.providerConfig.name }}
  namespace: {{ .Values.keycloak.crossplane.providerConfig.namespace }}
spec:
  credentials:
    source: Secret
    secretRef:
      name: {{ .Values.keycloak.crossplane.providerConfig.name }}
      namespace: {{ .Values.keycloak.crossplane.providerConfig.namespace }}
      key: config
{{- end -}}