* @platform-mesh/go-maintainers @platform-mesh/node-maintainers

# ownerless so renovate can auto-merge updates
charts/**/Chart.yaml
development/kustomize/base/ocm-k8s-toolkit/ocm-k8s-toolkit.yaml
development/kustomize/components/ocm/component.yaml
package-lock.json
package.json
