{{- if .Values.etcdDruid.enabled }}
apiVersion: delivery.ocm.software/v1alpha1
kind: Repository
metadata:
  name: {{ .Values.etcdDruid.ocm.repo.name }}
spec:
  repositorySpec:
    baseUrl: {{ .Values.etcdDruid.ocm.repo.baseUrl }}
    type: OCIRegistry
  ocmConfig:
    - apiVersion: v1
      kind: ConfigMap
      name: ocm-resolver-config
      namespace: default
      policy: Propagate
  interval: 1m
{{- end }}
