{{- if .Values.etcdDruid.enabled }}
apiVersion: delivery.ocm.software/v1alpha1
kind: Repository
metadata:
  name: gardener-releases
spec:
  repositorySpec:
    baseUrl: europe-docker.pkg.dev/gardener-project/releases
    type: OCIRegistry
  ocmConfig:
    - apiVersion: v1
      kind: ConfigMap
      name: ocm-resolver-config
      namespace: {{ .Release.Namespace }}
      policy: Propagate
  interval: 1m
{{- end }}
