{{- if .Values.traefik.enabled }}
apiVersion: delivery.ocm.software/v1alpha1
kind: Resource
metadata:
  annotations:
    artifact: image
    for: traefik
    repo: oci
  name: traefik-image
  namespace: default
spec:
  componentRef:
    name: {{ .Values.ocm.component.name }}
  interval: {{ .Values.ocm.interval }}
  ocmConfig:
    - apiVersion: delivery.ocm.software/v1alpha1
      kind: Repository
      name: {{ .Values.ocm.repo.name }}
      namespace: {{ .Release.Namespace }}
  resource:
    byReference:
      referencePath:
      {{- range .Values.ocm.referencePath }}
        - name: {{ . }}
      {{- end }}
        - name: {{ .Values.traefik.name }}
      resource:
        name: image
  skipVerify: {{ .Values.ocm.skipVerify }}
{{- end }}