apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../components/platform-mesh-operator-resource
  - ../../components/example-httpbin-provider

patches:
  - target:
      kind: PlatformMesh
      name: platform-mesh
      namespace: platform-mesh-system
    patch: |-
      apiVersion: your.api.version
      kind: PlatformMesh
      metadata:
        name: platform-mesh
        namespace: platform-mesh-system
      spec:
        kcp:
          extraProviderConnections:
            - endpointSliceName: ""
              path: root:providers:httpbin-provider
              secret: httpbin-kubeconfig
              namespace: example-httpbin-provider
              external: false
          extraDefaultAPIBindings:
            - workspaceTypePath: root:account
              export: orchestrate.platform-mesh.io
              path: root:providers:httpbin-provider