apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../components/platform-mesh-operator-resource
  - ../../components/example-httpbin-provider

patches:
  - target:
      kind: PlatformMesh
      name: platform-mesh
      namespace: platform-mesh-system
    patch: |-
      - op: replace
        path: /spec/kcp
        value: {}
      - op: replace
        path: /spec/kcp/extraProviderConnections
        value: [ { endpointSliceName: "", path: root:providers:httpbin-provider, secret: httpbin-kubeconfig, external: false }]
