apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../components/platform-mesh-operator
  - ../../components/ocm-latest

patches:
  - target:
      kind: PlatformMeshOperator
      name: platform-mesh-operator
      # namespace: platform-mesh-system
    patch: |-
      apiVersion: kro.run/v1alpha1
      kind: PlatformMeshOperator
      metadata:
        name: platform-mesh-operator
      spec:
        values:
          image:
            tag: v0.27.0-rc.11
          hostAliases:
            enabled: true
            entries:
              - ip: "172.18.0.6"
                hostnames:
                  - portal.localhost
                  - localhost
          remoteRuntime:
            enabled: true
            secretName: "platform-mesh-kubeconfig"
            secretKey: "kubeconfig"
            infra:
              secretName: "platform-mesh-kubeconfig"
              secretKey: "kubeconfig"
