{{- if .Values.gatewayApi.enabled }}
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: {{ .Values.gatewayApi.name }}
spec:
  force: false
  install:
    crds: {{ .Values.gatewayApi.kustomization.install.crds }}
  interval: {{ .Values.gatewayApi.kustomization.interval }}
  path: {{ .Values.gatewayApi.kustomization.path }}
  prune: true
  sourceRef:
    kind: GitRepository
    name: {{ .Values.gatewayApi.name }}
  {{- if .Values.fluxCD.kubeConfig.enabled }}
  kubeConfig:
    secretRef:
      name: {{ .Values.fluxCD.kubeConfig.secretRef.name }}
  {{- end }}
{{- end }}