## Requirements

| Repository | Name | Description | Sources |
|------------|------|-------------|---------|
| `oci://ghcr.io/platform-mesh/helm-charts` | `portal` | The platform-mesh portal chart. |[source](https://github.com/platform-mesh/helm-charts/tree/main/charts/portal)|
| `oci://ghcr.io/platform-mesh/helm-charts` | `example-content` | The platform-mesh example-content chart. |[source](https://github.com/platform-mesh/helm-charts/tree/main/charts/example-content)|
| `oci://ghcr.io/platform-mesh/helm-charts` | `infra` | The platform-mesh infra chart. |[source](https://github.com/platform-mesh/helm-charts/tree/main/charts/infra)|
| `oci://ghcr.io/platform-mesh/helm-charts` | `extension-manager-operator` | The platform-mesh extension-manager-operator chart. |[source](https://github.com/platform-mesh/helm-charts/tree/main/charts/extension-manager-operator)|
