image:
  name: ghcr.io/platform-mesh/portal
  pullPolicyOverride: IfNotPresent

http:
  # -- protocol
  protocol: http

validWebcomponentUrls: ".?"
featureToggles: "enableSessionAutoRefresh=true"

# -- environment
environment: local

# -- development landscape toggle
developmentLandcsape: "true"

# -- frontend port
frontendPort: 8000

# -- cookie domain
cookieDomain: "localhost"

# -- allows the configuration of a kubeconfig secret for external api servers
kubeconfigSecret: ""
kcp:
  kubeconfigSecret: ""

auth:
  default:
    # -- discovery url used for the idp
    discoveryUrl: ""
    # -- client id
    clientId: ""
    # -- baseDomain used by the portal
    baseDomain: ""
health:
  # -- health port to be used by probes
  port: 8080

# -- hostAliases configuration
hostAliases:
  # -- enable hostAliases
  enabled: false
  # -- hostAliases entries
  entries: []

validation:
  port: 8088
  path: /validate
  service: "extension-manager-operator-server"
  protocol: "http"

traefik:
  # -- toggle to enable traefik CORS filter in HTTPRoute
  enabled: true

gatewayApi:
  # -- toggle to enable the Gateway API
  enabled: true
  httpRoute:
    pathPrefix: /
    hostnames:
    - "portal.localhost"
    - "*.portal.localhost"
    parentRefs:
    - name: k8sapi-gateway
    # -- list of HTTPRoute filters (default: none)
    filters: []
