apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/ocm-k8s-toolkit
  - prerelease-repository.yml
  - gardener-repository.yaml
  - ocm-resolver-config.yaml
  - prerelease-component.yml
  - ../../components/platform-mesh-operator
patches:
  - path: ocm-k8s-toolkit-patch.yaml
