apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ocm-k8s-toolkit-patch.yaml
  - prerelease-repository.yml
  - prerelease-component.yml
  # - ../../components/platform-mesh-operator-resource/
# patches:
#   - target:
#       kind: PlatformMesh
#       name: platform-mesh
#     patch: |
#       - op: replace
#         path: /spec/ocm/repo/name
#         value: prerelease
#       - op: replace
#         path: /spec/ocm/component/name
#         value: prerelease
