apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ocm-k8s-toolkit-patch.yaml
  - prerelease-repository.yml
  - prerelease-component.yml
  - ../../components/platform-mesh-operator-resource/
patches:
  - target:
      kind: PlatformMesh
      name: platform-mesh
    patch: |
      - op: add
        path: /spec/values/virtual-workspaces/ocm
        value: {}
      - op: add
        path: /spec/values/virtual-workspaces/ocm/repo
        value: {}
      - op: add
        path: /spec/values/virtual-workspaces/ocm/repo/name
        value: prerelease
      - op: add
        path: /spec/values/virtual-workspaces/ocm/component
        value: {}
      - op: add
        path: /spec/values/virtual-workspaces/ocm/component/name
        value: prerelease
