crds:
  enabled: false

image:
  name: ghcr.io/platform-mesh/kubernetes-graphql-gateway
  pullPolicy: IfNotPresent

kcp:
  enabled: true

gateway:
  port: 8080
  healthCheck:
    enabled: true
    port: 3389
  metricsPort: 8081
  graphiql: true
  logLevel: trace
  shouldImpersonate: false
  introspectionAuthentication: true
  usernameClaim: email
  resources:
    limits:
      memory: 1200Mi
    requests:
      cpu: 250m
      memory: 1000Mi

listener:
  apiExportName: kcp.io
  port: 8090
  healthCheck:
    enabled: true
    port: 3390
  metricsPort: 8091
  virtualWorkspacesConfig:
    enabled: false
    configMapName: "virtual-workspaces-config"
    path: "/app/config/virtual-workspaces.yaml"
    content:
      virtualWorkspaces: []
  resources:
    limits:
      memory: 600Mi
    requests:
      cpu: 250m
      memory: 500Mi

deployment:
  maxUnavailable: 0
  maxSurge: 5
  revisionHistoryLimit: 3
  replicas: 1

  resources:
    limits:
      memory: 1600Mi
    requests:
      cpu: 300m
      memory: 800Mi

sentry:
  environment: dev

kubeConfig:
  createSecret: false
  # -- Allows the mounting of an external kubeconfig. If the kubeconfig is set, it is expected that the service account, that is used, is not connected to this chart and the rbac resources will not be generated.
  enabled: false
  secretName: "kcp-root-kubeconfig"

extraEnvs: []
extraVolumes: []
extraVolumeMounts: []

tracing:
  enabled: true

# Health check configuration shared by both containers
health:
  periodSeconds: 10
  readiness:
    path: "/readyz"
    initialDelaySeconds: 5
    periodSeconds: 10
  liveness:
    path: "/healthz"
    failureThreshold: 1
    periodSeconds: 10
  startup:
    path: "/readyz"
    failureThreshold: 30
    periodSeconds: 10

gatewayApi:
  # -- toggle to enable the Gateway API
  enabled: false
  # -- configuration for the HTTPRoute resource
  httpRoute:
    pathPrefix: /api/kubernetes-graphql-gateway/
    hostnames:
    - "portal.localhost"
    - "*.portal.localhost"
    parentRefs:
    - name: k8sapi-gateway
    filters:
    - cors:
        allowCredentials: true
        allowHeaders: ['*']
        allowMethods: ['*']
        allowOrigins: ['*']
        maxAge: 5
      type: CORS
    - type: URLRewrite
      urlRewrite:
        path:
          replacePrefixMatch: /
          type: ReplacePrefixMatch
