image:
  name: ghcr.io/platform-mesh/iam-ui
  pullPolicy: IfNotPresent

deployment:
  maxUnavailable: 0
  maxSurge: 5

port: 8080

health:
  port: 8080
  startup:
    path: /healthz
  readiness:
    path: /healthz

traefik:
  # -- toggle to enable traefik CORS filter in HTTPRoute
  enabled: true

gatewayApi:
  httpRoute:
    pathPrefix: /ui/iam
    parentRefs:
    - name: k8sapi-gateway
exposure:
  # -- hostnames to be used for exposure
  hostnames:
    - "portal.localhost"
    - "*.portal.localhost"
