image:
  name: ghcr.io/platform-mesh/iam-ui
  pullPolicy: IfNotPresent
  pullSecret: github

deployment:
  maxUnavailable: 0
  maxSurge: 5

port: 8080

health:
  port: 8080
  startup:
    path: /healthz
  readiness:
    path: /healthz


cors:
  # -- toggle to enable CORS support
  enabled: false

gatewayApi:
  httpRoute:
    pathPrefix: /ui/iam
    parentRefs:
    - name: k8sapi-gateway
      sectionName: websecure
    corsFilters:
    - extensionRef:
        group: traefik.io
        kind: Middleware
        name: cors-header
      type: ExtensionRef

exposure:
  # -- hostnames to be used for exposure
  hostnames:
    - "portal.dev.local"
    - "*.portal.dev.local"
