apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../components/platform-mesh-operator-resource

patches:
  - target:
      kind: PlatformMesh
      name: platform-mesh
      namespace: platform-mesh-system
    patch: |-
      apiVersion: your.api.version
      kind: PlatformMesh
      metadata:
        name: platform-mesh
        namespace: platform-mesh-system
      spec:
        kcp:
          extraProviderConnections:
          - path: root:platform-mesh-system
            secret: terminal-controller-manager-kubeconfig
            namespace: platform-mesh-system
            external: false