apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "common.entity.name" . }}
rules:
- apiGroups: [ "" ]
  resources:
    - events
  verbs:
    - create
    - get
    - list
    - watch
- apiGroups:
  - core.platform-mesh.io
  resources:
  - platformmeshes
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - core.platform-mesh.io
  resources:
  - platformmeshes/finalizers
  verbs:
  - update
- apiGroups:
  - core.platform-mesh.io
  resources:
  - platformmeshes/status
  verbs:
  - get
  - patch
  - update
- apiGroups: [""]
  resources: 
  - secrets
  - configmaps
  verbs: 
  - get
  - list
  - watch
  - create
  - delete
  - update
  - patch
- apiGroups: ["delivery.ocm.software"]
  resources:
    - "*"
  verbs:
    - get
    - list
    - watch
    - create
    - delete
    - update
    - patch
- apiGroups: ["helm.toolkit.fluxcd.io"]
  resources:
    - helmreleases
  verbs:
    - get
    - list
    - watch
    - create
    - delete
    - update
    - patch
- apiGroups: ["operator.kcp.io"]
  resources:
    - rootshards
    - frontproxies
  verbs:
    - get
    - list
    - watch
- apiGroups: ["cert-manager.io"]
  resources:
    - certificates
    - issuers
  verbs:
    - get
    - list
    - watch
    - create
    - delete
    - update
    - patch
- apiGroups: ["source.toolkit.fluxcd.io"]
  resources: ["ocirepositories", "helmreleases","helmrepositories","gitrepositories"]
  verbs: ["get", "list", "create", "update", "patch", "delete", "watch"]
- apiGroups:
  - kustomize.toolkit.fluxcd.io
  resources:
  - kustomizations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
