apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../components/ocm-prerelease-component
  - ../../components/platform-mesh-operator-resource
# patch PlatformMesh to use prerelease component
patches:
  - target:
      kind: PlatformMesh
      name: platform-mesh
      namespace: platform-mesh-system
    patch: |-
      - op: replace
        path: /spec/values/infra/values/hostAliases/entries/0/ip
        value: "10.96.165.217"
      - op: replace
        path: /spec/values/security-operator/values/hostAliases/items/0/ip
        value: "10.96.165.217"
      - op: replace
        path: /spec/values/portal/values/deployment/hostAliases/0/ip
        value: "10.96.165.217"
  - target:
      kind: PlatformMesh
      name: platform-mesh
      namespace: platform-mesh-system
    patch: |-
      - op: replace
        path: /spec/ocm/repo/name
        value: "prerelease"
      - op: replace
        path: /spec/ocm/component/name
        value: "prerelease"
